*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	overflow: hidden;
	width: 100%;
}

header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	background-color: #ec715f;
}

main{
	height: calc(100vh - 70px);
	overflow-y: auto;
	margin-top: 70px;
	width: 100%;
}

#top_btn{
	position: absolute;
	right: -60px;
	bottom: 10px;
	color: white;
	font-size: 24px;
  display: flex;
	justify-content: center;
  align-items: center;
	background-color: yellowgreen;
	width: 50px;
	height: 50px;
	border: 1px solid darkgreen;
	border-radius: 100%;
	cursor: pointer;
	box-shadow: 0 0 2px black;
	transition: all .3s;
}

#top_btn:hover{
	box-shadow: 0 0 5px black;
}

#top_btn:active{
	box-shadow: none;
	transition: none;
	background-color: green;
}

nav{
	display: flex;
	height: 100%;
}

.menu{
	display: flex;
	margin: auto 20px;
}

nav .hbg_menu{
	display: none;
}

.nav-item{
	margin: 0 10px;
}

.logo{
	height: 100%;
	width: 200px;
	min-width: 100px;
	background-image: url(../img/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: auto;
}

.max-box{
	height: 100%;
	width: 100%;
	display: block;
}

.nav-item a{
	color: #fafafa;
	text-decoration: none;
}

.nav-item a:hover{
	text-decoration: underline solid 1px;
}

.main-visual{
	display: flex;
	width: 100%;
	height: 650px;
	color: #fafafa;
	background-image: url(../img/mv.png);
	background-size: cover;
	background-position: center;
}

.main-visual-text{
	margin: auto;
}

.main-visual-title{
	font-size: 64px;
	text-align: center;
	text-decoration: unset;
	font-weight: unset;
}

.main-visual-sentence{
	font-size: 20px;
	text-align: center;
}

.title_underline{
	height: 3px;
	width: 70px;
	background-color: #ec715f;
	margin: 8px auto 0;
}

#portfolio{
	width: 100%;
	background-color: #eceff1;
	padding: 90px 0;
	text-align: center;
}

#portfolio>div{
	width: 920px;
	margin: auto;
}

.title{
	font-size: 32px;
	color: #000;
	font-weight: unset;
}

.sentence{
	font-size: 16px;
	color: #000;
	margin: 30px auto;
}

.image_block{
	display: flex;
	flex-wrap: wrap;
	height: 510px;
	width: 920px;
	margin: 0 auto;
}

.portfolio_images{
	height: 250px;
	width: 300px;
	background-size: cover;
	background-position: center;
	flex-shrink: 0;
}

.portfolio_images:not(:nth-child(3n)), .feature_articles:not(:nth-child(3n)){
	margin-right: 10px;
}

.portfolio_images:not(:nth-last-child(-n+3)){
	margin-bottom: 10px;
}

.portfolio_images:nth-child(1){
	background-image: url(../img/sketch.jpg);
}

.portfolio_images:nth-child(2){
	background-image: url(../img/websuku.png);
}

.portfolio_images:nth-child(3){
	background-image: url(../img/write.jpg);
}

.portfolio_images:nth-child(4){
	background-image: url(../img/webcamp.png);
}

.portfolio_images:nth-child(5){
	background-image: url(../img/talk.jpg);
}

.portfolio_images:nth-child(6){
	background-image: url(../img/webcamp-mother.png);
}

#feature{
	background-color: #fff;
	width: 100%;
	padding: 90px 0;
	text-align: center;
}

#feature>div{
	width: 980px;
	margin: auto;
}

article{
	display: flex;
	width: 100%;
	color: #000;
	flex-wrap: wrap;
}

.feature_articles{
	width: 320px;
	padding: 5px;
	background-color: aliceblue;
	border-radius: 5px;
	box-shadow: 0 0 5px skyblue;
	margin: 0 auto;
}

#feature .feature_fa{
	font-size: 60px;
}

#feature h4{
	margin: 10px 0;
	font-size: 20px;
	font-weight: bold;
}

.feature_articles_sentence p{
	text-align: justify;
}

#profile{
	background-color: #eceff1;
	width: 100%;
	padding: 90px 0;
	text-align: center;
}

#profile>div{
	width: 1024px;
	margin: auto;
}

#profile article>div{
	margin: auto;
}

.profile_detail{
	width: 512px;
}

.profile_detail>.profile_image{
	width: 250px;
	height: 250px;
	background-image: url(../img/my-icon.jpg);
	border-radius: 100%;
	margin: auto;
}

.profile_detail>.profile_info{
	margin: auto;
	color: #000;
	text-align: justify;
}

.profile_info h4, .contact_detail h4{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

.profile_info p{
	font-size: 16px;
	margin-bottom: 20px;
}


footer{
	background-color: #ec715f;
	height: 60px;
	display: flex;
}

footer>div{
	margin: auto;
	color: #fafafa;
	font-size: 16px;
}

#contact{
	background-color: #fff;
	width: 100%;
	padding: 90px 0;
	text-align: center;
}

#contact>div{
	width: 800px;
	margin: auto;
}

.contact_detail{
	width: 400px;
	display: inline-block;
	margin: 0 auto;
}

.contact_detail .fa-brands{
	font-size: 50px;
	padding: 0 10px;
}

.mail, .tel{
	margin-bottom: 20px;
}

@media screen and (max-width: 767px){
	main{
		margin-top: 50px;
		height: calc(100vh - 50px);
	}

	header{
		height: 50px;
	}

	nav .hbg_menu{
		display: inline-block;
		background-color: tomato;
		box-shadow: 0 0 3px gray;
		height: 40px;
		width: 40px;
		border: 2px solid white;
		border-radius: 2px;
		margin: auto 10px;
		transition: all .3s;
	}

	.hbg_menu>div{
		display: flex;
		padding: 5px;
		flex-flow: wrap;
		height: 100%;
		position: relative;
	}

	nav .hbg_menu span{
		width: 24px;
		min-width: 24px;
		height: 2px;
		background-color: white;
		border-radius: 2px;
		margin: auto;
	}

	nav .hbg_menu:hover{
		box-shadow: 0 0 5px black;
		cursor: pointer;
	}

	nav .hbg_menu:active{
		background-color: darkred;
		box-shadow: none;
		transition: none;
		}

	nav .menu{
		display: block;
		background-color: #444;
		padding: 10px;
		position: absolute;
		top: 55px;
		right: 10px;
		margin: 0;
		border: 2px solid whitesmoke;
		border-radius: 2px;
		box-shadow: 0 0 5px black;
		transition: all .4s;
		opacity: 0;
		visibility: hidden;
	}

	.menu.active{
		opacity: 1;
		visibility: visible;
	}


	nav .menu>div{
		margin: 10px;
	}

	.hbg_menu span{
		transition: all .4s
	}

	.hbg_menu.active span:nth-child(1) {
		-webkit-transform: translateY(9px) rotate(-45deg);
		transform: translateY(9px) rotate(-45deg);
		position: relative;
	}

	.hbg_menu.active span:nth-child(2) {
		opacity: 0;
	}

	.hbg_menu.active span:nth-child(3) {
		-webkit-transform: translateY(-8px) rotate(45deg);
		transform: translateY(-8px) rotate(45deg);
		position: relative;
	}

	.main-visual{
		background-image: url(../img/code.png);
		padding: 5%;
	}

	#portfolio>div, #feature>div, #profile>div, #contact>div{
		width: 90%;
	}

	.image_block{
		width: 300px;
		height: 770px;
	}

	.portfolio_images:nth-child(2n-1){
		display: none;
	}
	.portfolio_images:nth-child(4){
		margin-bottom: 10px;
	}

	#feature article{
		width: 320px;
		margin: 0 auto;
	}

	.feature_articles{
		margin: 5px	auto;
		flex-shrink: 0;
	}

	.profile_info{
		margin: 20px auto !important;
		text-align: center !important;
	}
}
